*{
    padding: 0;
    margin: 0;
}

.one{
    border: 1px solid black;
    font-style: normal;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    list-style-position: inside;
}
